<div class="cart-item">
  <div class="cart-item-details">
    <ul *ngFor="let cartProduct of cartProducts">
      <img src="{{ cartProduct.product.url }}" class="img" />

      <li>{{ cartProduct.product.name }}</li>
      <li>{{ cartProduct.product.price }} $</li>
      <input
        [(ngModel)]="cartProduct.quantity"
        (ngModelChange)="quantityChange(cartProduct)"
        type="number"
        class="number-input"
        required
        min="0"
      />
      <button (click)="remove(cartProduct.product.id)">remove</button>
    </ul>
  </div>
</div>
<div class="cart-pane">
  <div>total: {{ cartTotal }}$</div>
  <form class="order-form" #form="ngForm" (ngSubmit)="addOrder()">
    <input
      type="text"
      name="fullName"
      required
      minlength="4"
      maxlength="32"
      [(ngModel)]="fullName"
      placeholder="Enter your full name"
      #name="ngModel"
    />
    <div *ngIf="name.errors && name.dirty">
      The number of letters should be greater than 4
    </div>
    <br />
    <textarea
      type="text"
      name="address"
      required
      minlength="8"
      maxlength="32"
      [(ngModel)]="address"
      placeholder="Enter your address"
      #addressText="ngModel"
    ></textarea>
    <div *ngIf="addressText.errors && addressText.touched">
      The number of letters should be greater than 8
    </div>
    <br />
    <textarea
      type="text"
      name="card"
      required
      minlength="10"
      maxlength="10"
      [(ngModel)]="card"
      placeholder="Enter your card"
      #creditCard="ngModel"
    ></textarea>
    <div *ngIf="creditCard.errors && creditCard.dirty">
      The number of digits should be equal 10
    </div>
    <br />
    <input
      type="submit"
      [disabled]="form.invalid || cartTotal == 0"
      value="Submit"
    />
    <p *ngIf="cartTotal == 0">Please add the product</p>
  </form>
</div>
